<pre>
第一章:基本语法
第1节:基础知识
  1.框架和库的区别：
	  框架：是一套完整的解决方案，但对项目的侵入性较大，项目如果需要更换框架则整个项目需要重新架构
	  库(插件)：提供某一个小功能，对项目侵入性较小，如果某个库无法完成某些需求可以容易切换到其他库实现需求
	2.业务处理过程:
	  view视图层(用户操作界面触发请求)
		-->app.js项目入口(一切请求都先进入这里处理)
		-->router.js路由分发处理模块(只负责分发路由)
		-->controller业务处理层(封装了逻辑代码,只处理业务,不处理数据的crud)
		-->model负责操作数据库,执行sql语句,进行数据的crud(create read updata delete)
	3.后端负责MVC 即model view controller(实际包含router.js和controller)
		MVC是后端分层开发概念
		前端负责MVVM 即model(此处model非后端的,后端操纵的是数据库里的) view viewmodel
		MVVM分层开发思想，把每个页面分成M V VM层,其中VM是核心,是M和V的调度
	4.vue书写内容:
		el:'#app' 挂载指定区域
		data:{} 放置定义的对象
		methods:{} 放置定义的方法,获取data中的数据需用“this”
		computed:{} 计算属性

第2节:基础指令
	1.mustache语法(插值表达式): {{mes}} 插值表达式 只替换自己的占位符两边其他元素被保留
		括号内还可写表达式或进行简单的(或三元)运算:如 {{mes++}} 但不可写JS语句和流控制否则报错
	2.v-once 只进行一次渲染
	3.v-html="str" 解析HTML代码并渲染但会覆盖原文本(其他指令则会将标签当成字符串)
	4.v-text="str" 无闪烁问题但其赋值的文本会将元素中的原文本替换掉
	5.v-pre 跳过这个元素和其子元素的编译,即将其原封不动的显示出来
	6.v-cloak 解决插值表达式闪烁问题
	7.v-bind(简写为“::”): 为属性动态绑定属性值(注:绑定的值实际是个变量/表达式),即动态更新HTML属性
		属性值写为"'str'"和"str"区别:前者绑定的是个字符串,后者则为变量/表达式
		动态绑定class(对象语法): :class="{name:name1,na:name2}"在data中控制“name1”为true或false
		动态绑定class(数组语法): :class="[name1,'name2']" 注意:不加引号代表变量,加引号为写死的字符串
		动态绑定style(对象语法): :style="{属性名:属性值}" 属性值用变量代替一般不写死
		动态绑定style(数组语法): :style="[变量]" 在data中写成数组对象
		v-bind:style在运行时会自动为style添加浏览器前缀
	8.v-on(简写为“@”):绑定事件机制(即绑定方法) 在对应的DOM上绑定事件监听器,监听用户行为进行交互
  	绑定方法时若不传参可省略括号且方法本身会有默认参数event被传入
    若传参且需要event时将实参写为“$event”($event为用于访问原生事件)放在最后,形参可写为“event”
    事件修饰符：
      .stop阻止事件向上冒泡(默认为冒泡)  
      .prevent阻止默认行为(如为a链接添加一个别的事件,点击时阻止a链接跳转而是去做事) 
      .self元素本身触发事件才在该元素身上发生
        如点击不会传递冒泡;内层冒泡传递到本层由于不是自身点击也不会发生
      .capture使用捕获机制(需将此属性添加到父元素上 只有添加了的父元素才会触发因此需要给每个都添加)
      .once事件只触发一次
      键盘符:keyup/down. 如keyup.enter="way" 或 keyup.13="way"
        此外vue还提供了一些快捷名称如:“.enter .tab .delete”等
      .native监听组件根元素的原生事件:
        原生的“div button”等可直接进行“@click”
        但不可直接对组件的点击进行监听,需写为“@click.native”
    监听图片加载是否完成:@load="方法"
  9.v-if和v-show
    v-if:将元素从DOM树中移除或添加,有较高的切换性能消耗
      惰性,如果初始条件为假则什么也不做,条件第一次为真时才局部编译
    v-show:切换元素display属性,有较高的初始渲染消耗
      在任何条件下都会被编译并保留,只是简单的基于CSS切换
      不可用在“<template>上”
    如果元素频繁切换,最好用v-show    
    如果显示一次或永不显示,没必要将其渲染,最好用v-if
  10.v-for指令:
    循环数组: 
      v-for='item in list' 仅获取值  
      v-for='(item,index) in list' 获取值和索引(从0开始)
    循环对象数组:
      v-for='object in Array' 获取到对象object 提取对象值使用“object.属性”  获取索引的用法同上
    循环对象: 
      v-for='(value,key,index) in object'  (key和index不需要时可不写)
    迭代数字: 
      v-for='count in number' count值从1开始
    注:使用v-for指令最好添加key,用以指明当前循环对象的身份,由于v-for渲染已更新过的列表元素时,列表项虽已发生更改但它仍简单复用此处的每个元素,并没有跟踪每个节点由此可能造成乱序(详看diff算法及数据结构)
    使用key时须和v-bind绑定且只能使用number和string类型 即key的值不能为对象,应为对象的属性
      一般为“:key='item'”(不和index绑定)
      添加了key属性的元素不会被复用,而未添加则Vue在渲染时出于效率考虑会尽可能复用已有的元素
  11.v-model:数据双向绑定(只能用于表单元素)
    原理:语法糖,v-bind和v-on的结合
      实质:v-bind绑定数据(:value="mes"),v-on绑定input事件(v-on:input="change")
      change(event){this.mes=event.target.value}
    和radio组合:
      v-model绑定相同的变量即可,即代替了name属性形成互斥(但value属性要写,因为提交的就是它,实际上v-model绑定的就是它)
    和checkbox组合:
      单个复选框:如同意某一项协议,此时v-model为布尔值,value值不影响v-model
      多个复选框:v-model绑定同一个变量,变量对应数组即可(注:写法“变量:[]” 必须有“[]”)
        此时要有value,选中时会将value添加进数组中
    和select(下拉菜单)组合: 
      v-model加到select标签上而非option标签上
      v-model会优先匹配value属性,若无value则匹配<option>的text
      单选:v-model对应的变量绑定单个字符串即可 即“变量:""”
      多选:v-model对应的变量绑定数组,注意写法(select标签内要添加multiple属性)
    值绑定(:value):一般input中的value不写死,故需动态绑定(此知识点是对checkbox和select的优化)
      例子:<label v-for="item in items" :for="item">
            <input type="checkbox" :value="item" :id="item" v-model="hobbies">
          </label>
          hobbies:[],
          items:["篮球","足球","排球","火球"]
    修饰符:
      v-model.lazy:使用“.lazy”修饰符会使输入框失去焦点或按回车时才同步数据,而非默认的数据改变时立刻同步
      v-model.number:将输入框的内容当做数字处理,默认情况下输入的内容是被当做字符串进行处理的
      v-model.trim:去除输入内容左右两端的空格
  12.数组中能在vue中及时响应的方法:
    及时响应的方法: push/pop/shift/unshift/sort/reverse/splice 这些方法均可及时响应且不会改变原数组
    不能及时响应的方法:
      直接使用Arr[index]='str'索引值修改
        解决方法: vue提供的set方法: vue.set(Arr,index,newValue) 可直接通过相应的索引进行修改
      修改数组长度Arr.length=num
        解决方法: 通过修改splice()数组中的元素

第3节:计算属性
	1.计算属性有两个特定的get和set方法,但一般不写set方法则为只读属性
	2.所有计算属性都以函数形式写在computed内,最终返回计算后的结果
	3.例:
		<h2>{{fullName}}</h2>
		<script>
			computed:{
				fullName:{
					set:function (value) {
						console.log(value*2)
					}
					get:function () {
						console.log("example")
					}
				}
				//使用set时可直接“vm.fullName=x”此时形参value等于x
				//若只有一个属性则可直接简写为fullName(){...}
			}
		</script>
	4.特点:性能更高,与其内部的方法只调用一次,计算属性依赖缓存,当数据变化时才会再次重新取值再次调用,而methods则是只要被渲染就会被调用(当遍历大数组和做大量计算时使用计算属性)

第4节:全局过滤器(可被共享)
  1.在插值“{{}}”中数据的尾部添加管道符“|” (经常用于格式化文本,如字母大小写,货币千位使用逗号分隔等)
    {{msg | filtername([arg1],[arg2])}} 
    将msg作为参数传递给filtername进行处理,filtername可接受参数,但第一个参数为msg
      注:形参需比实参多一个参数作为msg
  2.写法:
    类似methods方法,在filters内写函数filtername,将结果return出去
      {{ msg | filtername }} 
      filters{filtername(){return }}
    或{{ msg | filtername }} 
      Vue.filter('filtername',fun(){}) (注:此种写法需写在vue挂载的实例前)
  3.过滤器调用时采用就近原则,如果私有和全局名称一致则优先调用私有过滤器


第二章:组件
组件：
  模块化:从代码逻辑角度划分,方便代码分层开发,保证每个功能模块单一
  组件化:从UI界面角度划分,前端的组件化,方便UI组件重用

第1节:组件的步骤
  方法1:常规方法创建,但vue2.0之后不推荐此写法
    1.创建组件构造器:
      const myComponent=Vue.extend({
        template: `<div><h2>第一步创建组件</h2></div>`  
      })
    2.注册组件:
      Vue.component('组件标签名',组件构造器名)如:
      Vue.component('my-cpn',myComponent)
    3.使用组件:
      <my-cpn></my-cpn>    
  方法2:使用注册语法糖,同方法1相比只是省略了“extend”而已
    1.直接注册 Vue.component('组件标签名',{template:}) 就是把extend内的内容直接替换过来
    (注意:方法1和2都是全局注册,无需在实例中再次去注册)

第2节:全局与局部组件
  1.全局组件:
    写在实例外部的“Vue.component('组件标签名',组件构造器名)”
    全局均可使用
  2.局部组件: 
    写在实例内部的如同methods方法“components:{组件标签名:组件构造器名}”
    只能在挂载的实例内使用

第3节:父子组件
  1.组件只能先创建再注册,书写顺序不可反
    子组件应先创建再创建父组件
    可在父组件中注册子组件
    如:
    <script>
      const son=Vue.extend({
        template:`
          <div><h2>这是子组件</h2></div>
        `
      })
      const par=Vue.extend({
        template:`
          <div>
            <h2>这是父组件,下面是调用的子组件</h2>
          </div>
        `,
        components:{cpnson:son},
      })
      Vue.component('cpnpar',par)
    </script>
  2.针对上例,不可直接在实例中使用(好比附庸的附庸不是我的附庸)
    若想在实例中直接使用子组件则必须将其进行全局注册或在实例中再次进行注册, 

第4节:抽离模板
  1.写法1:
    <script type="text/x-template" id="cpn">
      <div><h2>抽离模板的第一种写法</h2></div>
    </script>
  2.写法2:
    <template id="cpn">
      <div><h2>抽离模板的第二种写法,然后直接在注册里使用id名即可(推荐使用)</h2></div>
    </template>
    然后全局注册: Vue.component('mycpn',{template:'#cpn'})
    或局部注册 components:{'mycpn':{template:'#cpn'}}
  3.无论抽不抽离模板,模板中的内容都必须有一个根组件,即其外部必须有一个div包裹

第5节:组件中的data
  1.组件内部不能访问实例中的数据,故需有自己的data数据,但data必须写为一个函数,其内部再返回一个对象
    如: data(){return {key:value}}
  2.每一个组件调用data中的数据时其调用的都是自己的相当于深拷贝,数据之间不会相互影响
  3.data不能直接写为对象以及数据互不影响的原因
    <script>
      function obj() {
        return {age:18}
      }
      let obj1=obj();
      let obj2=obj();
      obj1.age=20
      console.log(obj1) // age:20
      console.log(obj2) // age:18
      // 因为obj1和2都为obj的实例,每个实例都有自己的空间(函数调用时内部有暂存空间)
      // 变量 obj1是一个物理地址,指向存储了{age:18}
      // 变量 obj2也是一个物理地址,指向存储了{age:18} 二者存储内容相同但内存地址相同故互不影响

      let o={age:18};
      function jbo() {
        return o;
      }
      let jbo1=jbo();
      let jbo2=jbo();
      o.age=20;
      console.log(jbo1); // age:20
      console.log(jbo2); // age:20
      // 因为函数返回的是一个内存地址,相当于是物理存储地址,它是不变的
      // 变量jbo1是一个物理地址,但它的指向存储的是另一个绝对的物理地址
      // 而变量jbo2同jbo1,指向存储的是同一个绝对的物理地址 故二者会互相影响

      // 因此data是一个函数 若为对象,每个组件都会共用数据,单个改变时会引起连锁反应
    </script>

第6节:父组件通过props属性向子组件传值
  1.传值步骤:
    子组件构造中写“props['变量1','变量2']
    父组件标签中(如cpn)绑定“:变量1=数据1” 然后即可使用插值表达式获取数据
      注:表达式内为变量1而不能直接写数据,应通过变量1获取
    其实就是在子组件中定义一个变量,变量与对应的数据进行绑定即可使用
  2.props类型限制:
    可以为数组如:“props:['变量1']”
    也可为对象:
      props:{
        变量1:Number, // 绑定传入的值需为number型
        变量2:[Number,string], // 绑定传入的值需为number或string型
        变量3:{
          type:Number,
          default:100, //绑定类型的同时为其指定默认值
          required:true, // 模板标签内必须绑定变量3进行传值引用
        },  
        变量4:{
          type:Object,
          default(){return }, // 默认值也可为函数
        }
      }
    支持的type类型有:String/Number/Boolean/Array/Object/Date/Function/Symbol/自定义构造函数
  3.驼峰标识:
    props定义时使用驼峰命名变量,则在模板标签里绑定数据时需改为短横同时大写改为小写
    浏览器解析元素时会把元素和属性都变成小写(HTML里不区分大小写),因此驼峰命名时要变为短横
    注:当模板标签里绑定方法时无需更改,如“@titleClick="titleClick"”
  4.示例:
    <div id="app">
      <mycpn :test1='test' :test2='te' :test-message='testmes'></mycpn>
    </div>
    <template id="cpn">
      <div>
        <h2>父组件中的数据通过子组件中的props属性传递给子组件</h2>
        <h2>{{test1}}</h2> 
        <h2>{{test2}}</h2>
        <h2>{{testMessage}}</h2>
      </div>
    </template>
    <script>
      Vue.component('mycpn',{
        template:"#cpn",
        props:{
          test1:{},
          test2:{
            type:Number,
            default:50,
            required:true,
          },
          testMessage:{},
        }
      })
      const vm = new Vue({
        el:"#app",
        data:{
          test:"这是父组件中的数据,通过子组件中的props属性拿到的",
          te:100,
          testmes:"使用驼峰命名时标签模板中的变量名需增加短横连接同时大写改为小写"
        }
      }) 
    </script>

第7节:子组件向父组件传值
  1.整体流程:
    子组件某元素触发事件 
      如: <button @click=btn>点击</button>
    子组件方法内定义事件函数,若要告知父组件则函数内需包含“this.$emit('自定义事件名',[数据])”即触发此事件
      如: btn(){this.$emit('clibtn',实参数据1,实参数据2)}
    父组件标签模板添加事件 即接收子组件发射来的事件(用“v-on”绑定子组件的自定义事件名 即监听此事件)
      如: <cpn @clibtn='rec'></cpn>>
    父组件要执行的事件函数
      如: rec(形参1,形参2){}
  2.注意事项:
    第三步父标签模板中的点击事件是“@子组件事件名称=父组件自定义事件名称” 
      即子组件触发的事件父组件需用别名进行接收 而不是直接使用“@click=子组件事件名称”
    另第三步添加事件时会默认将数据进行传递,如同event事件默认传递一样,故只需在第四步添加形参接收即可
    第二步传递多个数据时,只需在实参后继续添加,然后第四步父组件添加对应的形参即可
  3.示例:
    <div id="app">
      <mycpn @btnclick="parclick"></mycpn>
    </div>
    <template id="cpn">
      <div>
        <button v-for="item in items" @click=btn(item)>{{item.name}}</button>
      </div>
    </template>
    <script>
      Vue.component('mycpn',{
        template:"#cpn",
        data(){
          return {
            items:[
              {name:"金庸",age:18},
              {name:"古龙",age:20},
              {name:"黄易",age:22}
            ]
          }
        },
        methods:{
          btn(item){
            console.log('子组件已触发事件',item.name)
            this.$emit('btnclick',item.name,item.age)
          }
        }
      })
      const vm = new Vue({
        el:"#app",
        methods:{
          parclick(ite1,ite2){
            console.log('父组件已监听到子组件触发了事件,并接收到了数据');
            console.log(ite1,ite2);
          }
        }
      })
    </script>

第8节:父组件访问子组件
  1.通过“this.$children”拿到所有的子组件
    得到的是个数组集合,然后通过下标拿到具体的子组件,最后通过“.”方法直接访问具体子组件的属性、数据等
    如:console.log(this.$children[2].name)
    缺点:不常用 因为
  2.通过“this.$refs”拿到所有的子组件
    得到的是个对象,因此需要给每个标签模板再添加一个属性“ref='keyName'”(ref既可绑定组件也可绑定普通元素)
    这样对象里就会有键名“keyName”和键值“子组件” 然后就可通过“keyName.”访问数据
    如:console.log(this.$refs.keyName.name)
    推荐使用此方法
  3.示例:
    <div id="app">
      <mycpn></mycpn>
      <mycpn ref='keyName'></mycpn>
      <button @click=btn1>通过children方式直接访问</button>
      <button @click=btn2>通过添加ref属性间接访问</button>
    </div>
    <template id="cpn">
      <div>
        <h2>子组件模板</h2>
      </div>
    </template>
    <script>
      const vm = new Vue({
        el:"#app",
        data:{},
        methods:{
          btn1(){
            console.log(this.$children[0].mes1)
          },
          btn2(){
            console.log(this.$refs.keyName.mes2)
            this.$refs.keyName.mes2 = '金庸';
            console.log(this.$refs.keyName.mes2)
          }
        },
        components:{
          'mycpn':{
            template:"#cpn",
            data(){
              return {
                mes1:'子组件的数据,父组件直接通过this.$children的方式访问',
                mes2:'标签模板添加ref属性,父组件通过this.$refs的方式访问',
              }
            }
          }
        }
      })
    </script>

第9节:子组件访问父组件
  1.通过“this.$parent”直接访问上一级父对象
    很简单,拿到父对象后直接使用“.”方法访问父对象中的数据
    此种方法并不常用
  2.通过“this.$root”直接访问根元素 用法同上

第10节:插槽
  1.基本使用:
      插槽:父组件提供了安插内容到子组件中的方法
      子组件模板之中使用“<slot></slot>”标签相当于预留了占位,父组件引用子组件并在子组件中写其他元素时,所写内容会代替“slot”标签的位置
    默认值:  
      “slot”标签中设置了元素,若父组件不在子组件中添加其他内容则默认显示slot中的元素否则显示所加内容
    多个值:
      父组件在子组件中虽然添加多个内容,但这些内容一起将子组件的一个slot标签的位置代替掉
    注意:一个插槽就是一个位置,若子组件中有多个slot而组件标签中虽只有一个元素但它会显示多次
    例: 
      <parent>
        <span>这是父组件中的普通内容正常显示</span>
        <children>
          <p>若父组件引用了无插槽的子组件时这里的内容相当于没写,不会显示</p>
        </children>
      </parent>
      Vue.component('children',{template:`<div> <slot></slot> <p>子组件中的内容</p></div>`})

  2.具名插槽:
    “<slot name="na"></slot>”设置name属性后,组件内的元素添加“slot='na'”属性与其对应才可替换其位置否则slot位置若有默认元素则显示默认元素,若无默认元素则其位置什么也不显示
    “slot”标签添加name属性后只有对应的name标签才能替换其位置
    无name的“slot”标签属于匿名插槽,组件标签内的元素可将其替换掉

  3.编译作用域:
    父组件模板的所有东西都会在父级作用域内编译,子组件模板的所有东西都会在子级作用域内编译
      即在实例中使用到的变量会去构造实例中查找
      写在子组件模板中的变量会去子组件中去查找而不会去父级作用域
    即父在父,子在子

  4.作用域插槽: v-slot(老师讲的slot-scope已被废弃)具体用法百度 
    父组件改变子组件数据的渲染形式
    即内容仍为子组件的内容,但是由父组件来决定如何渲染

    父组件中添加“scope="临时变量名"”属性,临时变量将保存子组件中的slot中的数据这样父组件就可访问普通的子slot
    如: 
    <parent scope="myscope">
      <span>接受子组件中slot中的信息{{myscope.text}}</span>
      <children>
        <p>子组件</p>
        <slot text="hellow"></slot>
      </children>
    </parent>



第三章:webpack
第1节:webpack和grunt/glup的区别
  1.前者更加强调模块化开发管理,而文件压缩合并及预处理为附带功能
  2.后者强调前端流程的自动化,模块化不是其核心

第2节:基础安装程序
  1.安装好node后,命令行输入“npm i nrm -g”安装nrm (node自带软件包管理工具npm) 
    nrm提供了安包的几个常用地址,安装好nrm后，输入“nrm ls”(即list)查看下载包的地址
      其中有淘宝镜像等网址,注意:是在此网址里下载所用的包
    输入“nrm use npm”或“nrm use taobao”即可切换下载源 然后再用“npm i 包名”下载包即可
      推荐使用淘宝源,下载较快 npm是国外源地址下载较慢 cnpm后期可能会出现版本问题
  2.下载指定版本“npm i webpack@3.6.0 -g” @紧跟版本名 -g为全局安装(即在本机上以后无需安装)
    局部安装“npm i webpack@3.6.0 --save-dev” 
      --save-dev是开发时依赖,项目打包后不需继续使用 
      --save运行时依赖
      若下载vue,则不得带-dev 因为vue在运行时代码也依赖它
  3.dist文件夹下放置打包好的文件 
    src文件下放置js文件
    index文件与dist和src同级
  4.指令:
    “cd 相对路径” 回到指定的文件夹
    “webpack 原文件路径 新文件路径” 将原文件打包到指定的新文件中
      打包后的文件名为“bundle.js”

第3节:webpack的配置
  1.在当前文件夹内输入“npm i webpack@3.6.0 --save-dev”为本地安装
  2.“npm init”: 初始化 即重新开始配置相关的文件,给包起名配置路径等
    通过初始化生成了“package.json”包管理工具
    在“package.json”里的“script”中可以配置映射 使用时直接“npm run 映射名”
    映射例子: build(映射名):webpack(映射命令) 
      “npm run build” 相当于直接运行命令“webpack”
    千万千万要注意:在构建映射时最后一个对象结尾千万千万不能给逗号,否则打包时报错,草,浪费了一天
    “npm init -y”应该是一步到位直接配置,但文件路径可能不能有中文名才行
  3.直接输入“webpack”为使用全局方式打包,不推荐使用 
  4.总结:本地配置及打包的整个过程
    1.新建“webpack.config.js”文件,写出打包路径(打包到“dist”中)打包时会生成“bundle.js”文件
      由于需要使用绝对路径,因此配置文件中需再引入webpack自带的“path”文件使用resolve函数进行拼接
      __dirname(注意两个‘-’)代表当前配置文件路径,其后跟拼接路径
    2.在配置文件中打开控制台运行“npm init”进行初始化,生成“package.json”文件,在此构建映射
    3.本地安装“webpack”,生成“package-lock.json”和“node_modules”文件夹
    4.运行映射命令进行打包
  5.构建映射的好处:凡是在终端直接执行的命令均为全局,构建映射后执行命令时优先去本地配置文件执行命令
    若无相对应的映射再执行全局 

第4节:处理CSS和less
  1.webpack仅仅是处理JS之间的关系,CSS、图片之类的还需插件loader来处理
  2.处理css文件下载css-loader和style-loader
    css-loader只负责加载 style-loader负责解析 二者都要安装
  3.loader使用安装步骤:
    通过“npm i --save-dev css-loader@version” 进行安装
    注意“css-loader”版本为“2.0.2” “style-loader”版本为“0.23.1”有时版本不对应也会出错
    在webpack.config.js中使用“module”进行配置
      “use”配置时“style”在前“css”在后,因为webpack读取loader时从右往左
    配置代码如下(如何配置代码可进webpack官网查看):
      module:{
        rules:[
          {
            test:/\.css$/,  // 处理css文件  注意:此处正则键值不带引号 
            use:['style-loader','css-loader']
          },
  4.安装好less-loader(4.1.0)和less(3.9.0)
    配置文件,类似css配置
      {
        test:/\.less$/,
        use:[
          {loader: "style-loader"},{loader: "css-loader"},{loader: "less-loader"}
        ]
      }

第5节:处理图片
  1.处理图片文件下载url-loader并在“rules”中进行图片相关配置
  2.当图片大于“url-loader”配置中设置的limit值时会将图片处理成file文件
    此时需要下载“file-loader”并在“output”中进行“public-path”的配置
    注:public-path的路径配置代表以后所有url的文件前面均会添加的前缀,因为打包文件是针对dist文件夹的
      目前入口文件index未在src文件在中,以后将index也打包到src中时,路径“dist/”就需要改变了
  3.webpack自动生成的图片名字较长,是个32位的哈希值,因此需要自定义命名 
    在options中添加“name: 'img/[name].[hash:8].[ext]'”
      img 文件图片要打包到的文件夹 
      [name] 获取图片原名
      [hash:8] 防止图片名冲突依然使用hash但只保留8位 
      [ext] 使用图片原扩展名(即后缀名)
      注:此处的中括号不是可选参数的意思而是规定写法 若不带括号则所有的图片均会以“name”字符串命名
  4.配置代码如下(注意处理图片路径写在output中,而配置具体内容写在“module”的rules中):
    output:{
      publicPath: 'dist/'
    },

    {
      test:/\.(jpg|png|gif|jpeg)$/,
      use:[{
        loader: 'url-loader',
        options:{
          //当加载的图片小于limit时会将图片编译成base64字符串形式 大于limit时需用file-loader
          limit: 8192,
          name: 'img/[name].[hash:8].[ext]'
          //注意单引号
        }
      }]
    }
  5.案例中url-loader版本1.1.2 file-loader版本3.0.1
  6.处理字体文件也类似:
    {test:/\.(ttf|eot|svg|woff|woff2)/,use:'url-loader'}

第6节:ES6语法转换为ES5
  1.安装对应的loader(有两套包,若失败就两套都装上）
  npm i babel-loader@7.1.5 babel-core@6.26.3 babel-preset-es2015@6.24.1 -D (或将第三个换为babel-plugin-transform-runtime )
    babel-preset-env babel-preset-stage-0 -D
    
  2.配置代码如下:
  {
    test: /\.m?js$/, //处理ES6语法
    exclude: /(node_modules|bower_components)/, //排除node中的JS文件不编译
    use:[
      {
        loader: 'babel-loader',
        options: {presets: ['es2015']} 
        //由于未用“babel-preset-env”故将“babel/preset-env”改为“es2015”
      }
    ]
  }
  3.根目录下新建“.babelIrc”文件(注:需按JSON格式来写)进行如下配置:
    两种配置方法,首选第二个
    {
      "presets":["env","stage-0"],
      "plugins":["transform-runtime"]
    }

    {
      "presets": [
        ["env", {
          "modules": false,
          "targets": {
            "browsers": ["> 1%", "last 2 versions", "not ie <= 8"]
          }
        }],
        "stage-2"
      ],
      "plugins": ["transform-vue-jsx", "transform-runtime"]
    }
第7节:引用vue
  1.vue编译时有两种方式 
    runtime-only 只能在“.vue”文件中使用template,JS文件中不可使用,编译时只识别render函数
      在“.vue”文件中开发时推荐使用
    runtime-compiler 代码中可有template,因为runtime-compiler可编译template
      代码中有template可使用此方式
  2.下载安装本地的VUE:
    npm i vue@2.5.1 --save 注意:不得带-dev 因为vue运行时也要依赖
    引入 “import Vue from 'vue'”
    vue默认使用“runtime-only”方式编译,若使用了template则报错,修改编译方式即可
      进行模板文件配置,代码如下(在module.exports里配置,和entry、module等同级别):
      resolve: {
        alias: {  //起别名 更改vue的编译方式让其到vue中指定的文件夹下使用指定文件
          'vue$': 'vue/dist/vue.esm.js'
        }
      }
    补充:
      resolve主要用来解决路径问题
      和“alias”同级别写“extension:{'.css','.vue'}” 以后引入的文件就可省略后缀名
  3.注意:在index文件里引入bundle.js文件时把js文件放在body中最后位置即先搭结构再引文件否则报错
  4.在vue的实例化中,如果有template,则其会将el挂载的组件替换掉
    意思就是模板中的内容会直接将“<div id="#app"></div>>”替换掉,故div内部不需写任何东西

第8节:直接引用“.vue文件”
  1.需对“.vue”进行处理 安装“vue-loader”和“vue-template-complier”
    npm i vue-loader@13.0.0 vue-template-complier@2.5.1 --save-dev
  2.进行配置文件
    {
      test:/\.vue$/,
      use:['vue-loader']
    }
  3.注:vue-loader版本15以上就需要安装vue-loaderplugin
    在“webpack.json”中直接更改包的版本号,然后运行“npm i”就可将包重新更新下载
    “vue-template-complier”的版本和“vue”的版本不一致可能会报错
  4.脚手架的原理(猜测应该是  p85课讲)
    “App.vue”文件编写template,“script”标签内导出数据(模板不需导出,详见7节的4)
    “main.js”文件引入“App.vue”文件
      并创建vue实例,进行挂载并注册模板组件
      {el:"#app",template:'</App>',components:{App}} 
    “index”文件引入“main.js”文件

第9节:插件的扩展
  1.loader和plugin的区别
    loader主要用于转换某些类型的模块,是一个转换器
    plugin是插件,是对webpack的扩展,是个扩展器
  2.版权声明插件“BannerPlugin”
    webpack自带故不需安装只需配置即可
    首先引入webpack“const webpack = require('webpack')”
    然后和“module、resolve”同级配置:
      plugins:[new webpack.BannerPlugin('版权声明信息,此处的信息会出现在bundle.js的首行')]
  3.打包html的插件“html-webpack-plugin”
    项目发布时发布的是dist文件夹里的内容,故需将同dist同级的index文件打包进dist文件里
    此插件有两个功能:
      自动生成一个“index.html”文件 (可根据指定模板生成)
      自动将打包好的“bundle.js”文件引入到“index.html”文件中
    安装方式: npm i html-webpack-plugin@3.2.0 --save-dev
    配置方式(同BannerPlugin): 
      const htmlWebpackPlugin = require('html-webpack-plugin')
      plugins:[new htmlWebpackPlugin({template:'index.html'})]
      会找寻配置文件所在目录中的“index.html”为模板生成新的“index.html”到dist文件夹中
        故配置文件output中的“publicPath:'dist/'”需删除
        模板“index.html”文件无需引入“bundle.js”
  4.js压缩插件“uglifyjs-webpack-plugin”
    作用:自动将打包后的“bundle.js”进行压缩
    安装方式: npm i uglifyjs-webpack-plugin@1.1.1 --save-dev
    配置方式(同BannerPlugin):
      const uglifyjsWebpackPlugin = require('uglifyjs-webpack-plugin')
      plugins:[new uglifyjsWebpackPlugin()]
  5.热刷新(即自动打包)插件“webpack-dev-server”
    作用:运行一次映射命令以后就可启动使用热刷新(只需运行一次“npm run dev”,以后每次保存都会自动刷新,类似Google插件liveReload)
    安装方式: npm i webpack-dev-server@2.9.1 --save-dev -g
    配置方式:
      映射命令: “"dev":"webpack-dev-server --open"”
      配置文件中设置:
        devServer:{
          contentBase:'./dist', //为哪个文件夹提供服务,默认为根目录
          inline:true; //页面是否实时刷新
          port:8080; //指定端口号,默认为8080故可不指定
        }
  6.配置文件分离:
    将配置文件抽离成三部分,base.config.js(基础文件)、prod.config.js(生产依赖)和dev.config.js(运行依赖)
    只需将基础和生产/运行两两组合即可
    抽离好需将其合并 npm i webpack-merge@4.1.5 --save-dev
    配置方式:
      与“dist、src”等文件同级建立“build”文件夹,将此三文件放入其中
      prod.config.js配置方式:
        const webpackMerge = require('webpack-merge')
        const baseConfig = require('./base.config.js')
        module.exports = webpackMerge(baseConfig,{
          // 生产时需要的包
        })
      dev.config.js配置方式:配置同上,只需将包换为运行时所需的包即可,其余无需变
      然后可将原来的webpack.config.js删除掉 
      但需注意:映射命令处需增加“build:”属性值“--config ./build/prod.config.js”
        “dev:”属性值增加“--config ./build/dev.config.js” 为其指定命令来源的文件
        另“base.config.js”文件中输出文件路径也要更改,因为新建了父级build文件夹 故将“dist”改为“../dist”


第四章:脚手架(Vue ClI)
第1节:脚手架2和3的安装及初始化项目
  1.开发大型项目时,需考虑代码目录结构、项目结构和部署、热加载、代码单元测试等,借助脚手架来快速完成
  2.CLI:Command-Line Interface 命令行界面,俗称脚手架,可用其快速搭建Vue开发环境及对应的webpack配置
  3.脚手架依赖node和webpack
  4.安装方式:npm i @vue/cli@3.2.1 -g 全局安装 (安装的是脚手架3)
    如果想用脚手架2,使用桥接工具将2的模板拉取下来即可: npm i @vue/cli-init@3.2.0 -g
  5.初始化项目:
    脚手架2: vue init webpack projectname 注意:项目名称不为中文或大写字母 
    脚手架3: vue create projectName
  6.运行项目:
    脚手架2: npm run dev 
    脚手架3: npm run serve
    可到package.config文件中查看或更改
  7.手动关掉eslint:config文件夹下index.js文件中,将“useEslint”属性值改为false即可
    vscode编辑器在进行代码格式化时会将单引号变为双引号,同时也会在花括号尾部加分号,但这两项与ESlint的要求冲突了,要以ESLint为准时:
      在根目录下新建“.prettierrc”文件(此文件为json文件),在此文件中修改
        格式化时不加分号："semi":false
        用单引号代替双引号："singleQuote":true
    函数名称和小括号之间不带空格,但ESLint要求带,将此要求禁用掉:
      在ESLint配置文件“.eslintrc.js”中的rules中添加“'space-before-function-paren':0”

第2节:runtime-compiler和runtime-only区别
  1.vue渲染过程 
    将template解析(parse)为-->ast(abstract syntax tree抽象语法树)-->编译(compiler)为render函数
    -->渲染(render)为virtual dom(虚拟节点树)-->updata为UI
  2.runtime-compiler按上述整个流程渲染
    runtime-only则是直接从render函数开始,跳过了模板编译,故性能更高
  3.render回调函数:
    render：function(creatElement){
      return creatElement('h2',{class:'btn'},['按钮'])
      另一种用法: return createElement(cpn) cpn为已经创建的组件
    }
    核心:render函数调用了createElement函数直接创建元素或调用组件模板进行渲染,无需使用template再进行编译
      注:render函数创建的元素会直接将页面中el指定的容器替换掉

第3节:Vue-CLI3(脚手架3)
  1.与脚手架2的区别:
    脚手架2是基于webpack3打造,3则是基于webpack4打造
    脚手架3设计原则是“零”配置(其实是将一些配置文件隐藏起来了)
      移除了根目录下的build、config等目录
      任意文件下控制台输入“vue ui”命令,就可启动本地服务进行可视化配置
      移除static文件夹,新增了public文件夹且index.html移动到了public文件夹内
    空格键切换是否选中某项
  2.创建自定义的配置文件:在根目录下创建“vue.config.js”,将配置代码写在此 到时会将此文件与默认配置文件合并打包
  3.修改配置文件:
    方式1:通过“vue ui”可视化工具进入图形界面操作
    方式2:在module包里“@vue”文件夹下“cli-service-->lib-->service.js”

第五章:路由
第1节:基本概念
  1.路由:通过互联网将信息从源地址传输到目的地址的活动
  2.路由器提供了两种机制:路由和转送
      路由:决定数据包从来源到目的地的路径
      转送:将输入端数据转移到合适的输出端
  3.路由表:本质为映射表,决定了数据包的指向
  4.后端路由:后端处理URL和页面之间映射的关系
  5.SPA(单页面富应用)主要特点:在前后端分离的基础上增加了前端路由
  6.前端路由核心:改变URL但页面不进行整体刷新
  7.URL的hash也是锚点,本质上是改变window.location的href属性
    可直接通过location.hash来改变href但不刷新页面

第2节:安装和使用路由
  route一个路由信息对象
  routes一组路由信息对象
  router路由控制对象
  路由为插件,所有插件都需“Vue.use(插件名)”来使用
  1.安装 “npm i vue-router@3.0.1 --save”
    导入路由并使用 “import VueRouter from 'vue-router” “Vue.use(VueRouter)”
    创建路由实例并传入路由映射配置 “let router=new VueRouter()”
    将路由挂载到实例上 “router”
  2.使用vue-router的步骤:
    创建路由组件
    配置路由映射
    通过“<router-link>”和“<router-view>”使用路由
  3.“<router-link>”为内置组件会被渲染成a标签
    “<router-view>”占位用,切换时切换的是其挂载的组件,其余和它同级别的元素不动
  4.设置默认路径,即打开网页即显示首页
    只需配置路径即可:
      {path:'/',redirect:'/home'}
  5.更改路径模式:
    默认情况下路径为哈希模式,即路径带“#”号
    创建路由实例化时增加“mode:history”即可更改为H5的history模式将“#”去掉
  6.router-link属性；(这种叫做声明式导航)
    to 指定跳转的路径
    tag 指定渲染成哪种标签组件
    replace 不可通过页面上方的箭头后退或前进
    active-class 当“router-link”对应的路由匹配成功时会自动给当前元素添加类名“router-link-active”
      也可在路由实例化时设置“linkActiveClass:自定义类名” 然后给对应的“router-link”添加自定义类名即可
  7.通过代码跳转而不通过“router-link”路径(这种叫做编程式导航)
    给需要的按钮增加点击事件,methods写跳转代码即可
    如:
      <button @click='toHome'></button>
      <router-view></router-view>
      methods:{
        toHome(){this.$router.push('/home')}
      }
    知识点:自带的$router加push方法 (注:坑还是要占的)

路由:
  后端路由:对于普通网站来说所有的超链接都是url地址,所有的url地址都对应服务器上的资源
  前端路由:对于单页面应用程序来说,主要通过hash(即#号)实现不同页面之间的切换 这种由hash改变切换页面的方式叫前端路由
    hash特点:HTTP请求中不会包含hash内容,所以单页面程序内容跳转主要由hash实现


第3节:路由懒加载
  1.懒加载概念:路由中定义了多个页面,所有的页面最终都会被打包在一个js文件中,如果一次性从服务器中请求这个页面耗时较长 路由懒加载主要作用就是将路由对应的组件打包成一个个js代码块,当这个路由被访问时才加载对应的组件
  2.加载写法:
    方式1:结合vue的异步组件和webpack的代码分析
      const Home = resolve => {require.ensure(
        ['../components/Home.vue'],() =>{
          resolve(require('../components/Home.vue'))
        }
      )}
    方式2:AMD写法
      const Home = resolve => require(['../components/Home.vue'],resolve)
    方式3:ES6写法
      const Home = () => import('../components/Home.vue')

第4节:路由嵌套
  1.组件文件夹中新建vue文件
  2.父vue文件中的template中写入“<router-link to='/父组件路径名/子组件路径名'>”及“<router-view>” (其实和父级同样写法)  注:to时路径拼接父路径完整写法
  3.router文件的入口文件index.js中引入组件vue文件
    然后在父组件路径配置下添加属性“children:[{},{}]”
    在对象中设置路径配置“path:路径名,component:”  
    注:子组件的路径名直接写名字即可,无需拼接“/”及父组件名字

第5节:路由传参方式
  1.动态获取路由: 
    $route:获取处于活跃状态路由的信息
      $route.params.变量名 
    注意与“$router”(跳转路由)的区别
  2.动态绑定路由流程:
    1.建user.vue模板文件
    2.配置路径:即拼接路径 注意拼接的变量路径要绑定 如“path:'/user/:userId'”
    3.App.vue设置“<router-link :to="'/user/'+userId">用户</router-link>”
    4.App.vue设置变量userId的数据 (注:data应是个函数返回对象)
    5.user.vue文件中要取得userId的数据 使用“$route.params.userId”
  3.传参方式1:动态创建路由然后通过params方法
  4.传参方式2:使用类似node中的query方法
    $route.query.keyName
  5.传参过程

第6节:全局导航守卫
  1.导航守卫:vue-router提供的主要用来监听路由进入和离开的
  2.为何使用导航守卫:
    在一个SPA应用中用来改变网页标题 
    标题是通过“title”标签实现的,但一个SPA中只有一个固定的HTML切换页面时title因此不会改变,但可通过JS修改
  3.普通方式修改标题
      修改标题的位置是每一个路由对应的vue文件,可通过“mounted”生命周期函数执行对应代码修改,但页面较多时不易维护,因为需要在多个页面执行类似的代码
  4.使用导航守卫修改标题
    vue-router提供了beforeEach(前置钩子)和afterEach(后置钩子)钩子函数,它们会在路由即将改变前和改变后触发
    步骤:
      在每一个路由下(与path、component同级别)增加“meta:{title:str}”
      利用beforeEach钩子函数:
        router.beforeEach((to,from,next) => { window.document.title = to.match[0].meta.title; next()})
        to:即将进入的目标路由  from:当前导航即将离开的路由对象  next:调用该方法后才能进入下一个钩子
      注:使用前置钩子函数必须主动调用next方法,使用后置钩子函数则无需写
  5.其他守卫:除全局守卫外,还有路由独享守卫及组件内的守卫等,具体看官网
  6.从一个路由跳转到另一个路由后再跳转回来,记录其未跳之前的状态 
    使用“beforeRouterLeave”钩子和“path”
      beforeRouterLeave(to,from,next){this.path=this.$router.path; next()}
    但一般使用currentIndex方法去解决这个问题而不使用钩子

第7节:keep-alive
  1.vue内置的一个组件,可以使被包含的组件保留状态或避免重新渲染
  2.router-view也是一个组件,如果它被嵌在keep-alive里面,则所有路径匹配到的视图组件都会被缓存
  3.keep-alive的属性:
    include(可为字符串或正则):只有匹配的组件会被缓存  exclude:匹配到的组件不被缓存
    例:“<keep-alive exclude="About,Home"> <router-view></router-view> </keep-alive>”  
      相关的vue组件在export default时需添加对应的name属性“name:About”
    此外相关的路由vue组件中还需写如下代码:
      data中添加“path” path可为空也可为一个子路由的路径
      activated(){this.$router.push(this.path)}
      beforeRouteLeave(){this.path=this.$route.path}
      注意:步骤二中的router和三中的route

第8节:补充
  1.vue文件中在script标签内引入css文件直接“import”即可,在style标签内引入时需“@import”
  2.在build文件夹中的base配置文件中配置别名
    配置好后,在使用“import”引入其他文件时无需使用“../”等而直接可用别名代替配置的路径
    如果不是使用“import”引入,如图片的src路径,此时就需在别名前加“~”
  3.脚手架3配别名:根目录下新建vue.config.js文件进行
    module.exports = { configureWebpack: { resolve: { alias: {'assets': '@/assets',} } } }
    图片在引入时“src='~@/assets/xxx'”
    webpack将@解析为“/src” 再用“~”动态引入

  4.promise：
    在构造的promise中进行网络请求,之后使用resolve,一旦使用resolve就会调用下面的then
    将要处理的代码写在then中
    这样就将二者分离开来使代码更优雅



重要一点:新建的vue文件导出后,如果直接挂载在构造的vue实例中相当于给vue的原型添加了此属性




第六章:Vuex
第1节:基本概念
  1.什么是Vuex:专为vue.js应用程序开发的状态管理模式
  2.作用:可将多个界面里共享的状态数据放入到vuex中(可将其看为多个组件里共享的变量放在了同一个对象里)
  3.应用场景:比如用户的登录状态、用户名称、头像、地理位置信息、商品的收藏、购物车中的商品等
    将这些状态信息放在统一的地方进行保存和管理,并且它们还都是响应式的

第2节:使用Vuex
  1.Vuex是个插件,项目中可使用可不使用
  2.安装: “npm i vuex@3.0.1 --save” 
  3.单独建个“store”文件夹,新建一个入口JS文件
  4.入口文件: 
    使用“import”引入Vue和Vuex
    安装使用插件: Vue.use(Vuex)
    创建构造函数使用Vuex.Store方法: const store = new Vuex.store({ state:{}, mutation:{}})
    导出store
    在main文件中引入store,再在构造的vue实例中挂载store

第3节:Devtools插件
  1.vue开发的一个浏览器插件
  2.作用:记录每次改变State的状态,方便跟踪记录

第4节:vue-state单一状态树
  1.单一状态树(Single Source of Truth): 也叫单一数据源,即在vue实例中只创建一个store,将所有状态信息保存在一个store对象中,不要创建并保存在多个store中

第5节:vuex的核心
  1.共有5个,分别是“state、mutations、actions、getters、modules”
  2.state属性用于存储数据,通过“this.$store.state.属性”的方式获取状态/数据
  3.getters属性类似于计算属性computed,在getters里面写的函数只接收两个参数
    如: add(state,getters){} 即只接收state属性和它本身getters
  4.mutations属性用来更新store状态
    通过“this.$store.commit('mutations中的方法',[要传递的数据,也叫载荷(playload)])”来修改数据/状态
      对应的mutations中的方法两个形参分别对应state和传递的数据
    mutations中的方法必须是同步的,不得进行异步操作否则数据更改但Devtools工具不能及时更新数据
    注:使用“mutations”中的方法目的是Vuex可以更明确的追踪state中的数据
    mutations的唯一目的就是用来修改state中的状态,里面的每一个方法尽可能只做一件事

  5.actions属性类似于mutations,只是可以在此进行进行异步操作

  6.modules可对vuex中的属性再进行抽取
    如modules:{}


第6节:响应式原理
  1.初始化时写在store里的数据都有观察者模式,即数据改变视图会更新
  2.而通过方法往store中增加数据则页面不会实时更新,即不能做到响应式
  3.解决办法:通过“Vue.set(state.对象,属性,属性值)”增加 通过“Vue.delete(state.对象,属性)”删除



第七章:axios
第1节:功能特点
  1.可在浏览器中发送XMLHttpRequests请求
  2.在node.js中发送http请求
  3.支持Promise API
  4.拦截请求和响应
  5.转换请求和响应数据

第2节:使用步骤
  1.安装:npm i axios@0.18.0 --save-dev
  2.导入: import axios from "axios"
  3.使用: 
    axios({url:urlstr,success: fun(){}})
    axios({url:urlstr}).then()

第3节:发送并发请求
  1.通过数组形式获取结果
    axios.all(axios({}),axios({})).then(res => {console.log(res[0] + res[1])})
  2.使用提供的spread方法
    axios.all(axios({}),axios({})).then(axios.spread(res1,res2) => {console.log(res1 + res2)}) 

第4节:拦截器
  1.全局拦截: axios.interceptors
  2.局部拦截: objname.interceptors
  3.拦截请求: objname.interceptors.request.use(config => {... return config}, err => {})
    传入两个箭头函数,分别处理拦截成功和失败的代码,拦截成功后必须将config做return处理,否则相当于未进行发送请求因为发送的请求被拦截了
    拦截请求的作用:
      config中的一些信息不符合服务器要求
      每次发送网络请求时都希望在界面上显示一个正在发送的图标
      某些网络请求(比如有登录token)必须携带一些特殊的信息
  4.拦截响应: objname.interceptors.response.use(result => { return result或经过处理后return result.data}, err => {})
    





案例补充的知识点:
中央事件总线:某个后代组件触发了事件祖辈进行监听(用父子通信的话如果隔几代层层传递代码量较大)
  后代触发事件: this.$bus.$emit('事件名',[可选参数])
  祖辈监听: this.$bus.$on('事件名',([可选参数]) => {监听到后代组件触发了事件,在此进行处理所需事件})
  注:默认“$bus”为空,因此需在“main.js”文件中添加“Vue.prototype.$bus = new Vue()”即可

created()函数中不拿Dom

所有的组件都有一个“$el”属性用来获取组成组件的元素

当从一个页面跳转到另一个页面时,由于是路由管理,上个页面会被销毁,因此若要再跳转回去使之保持原状态则在那个组件外面包裹“keep-alive”

图片懒加载:
  1.安装vue-lazyload插件
  2.main.js文件引入“import VueLazyload from 'vue-lazyload'”
    并使用“'Vue use(VueLazyload,{可选参数})'”
    可选参数示例: 占位图“loading:require('./img/show.png')” 即当图片未加载出时显示此张图片
  3.原来图片绑定方式为“:src='XXX'”改为“v-lazy='XXX'”




跨域使用tooken的方式维持状态
不跨域则使用cookie在客户端或session在服务器端记录状态
登录-tooken原理分析:
  登录页面输入用户名和密码经过服务器验证后会生成该用户的tooken并返回,客户端存储token,后续所有的请求都携带该tooken发送请求,服务器验证tooken是否通过





项目亮点:使用了图片懒加载


以下为未整理归纳的语法:

自定义全局指令:
  Vue.directive(name,{})
  例:
  <input type="text" v-focus>
  <script>
    Vue.directive('focus',{//以下三个函数第一个参数永远为el表示被绑定的元素,el是一个原生JS对象
      bind:function (el) {
        //每当指令绑定到元素上就会触发一次此函数 元素刚绑定指令还未插入到DOM中,此时调用focus方法无效
        // 即此处写 el.focus()无效 因为一个元素(的行为)只有插入到DOM中才能(执行函数)获取焦点
        // 但样式不需插入到DOM中 因此和样式相关的写在此函数中
      },
      inserted:function (el) {  //元素插入到DOM中 函数触发一次  和行为相关的最好写在此函数中
        el.focus();
      },
      updated:function (el) {  //当VNode(虚拟DOM节点)更新 函数(可多次)触发
      }
    })
  </script> 

动画:
<transition></transition>
Vue提供的指令,把需要被动画控制的元素包裹起来
动画分为两个时间段,即进入和离开:
  v-enter-active(进入):又分为两个时间点
    v-enter进入之前的起始状态
    v-enter-to进入之后的结束状态
  v-leave-active(离开):也分为两个时间点
    v-leave离开之前的起始状态
    v-leave-to离开之后的结束状态
  注:两个时间点之间的过程即为时间段

自定义动画:
  在“<transition name='my'></transition>”加入name属性
  再将动画指令中的前缀“v”替换为“my”即可

注:使用第三方库和自定义动画均不能实现半场动画
transition中的mode属性可设置动画进出方式 如在标签里写“mode='out-in'”

transition-group:在用列表实现过渡效果时,如果需要过渡的元素是用“v-for”渲染出来的,则应用“transition-group”代替“transition”,否则无效果(即循环渲染的元素动画时用动画组代替动画)
  两个属性:appear和tag
  appear: 标签内添加appear可使列表在渲染时以动画方式入场(用法:直接加appear这个单词即可)
  tag: transition-group包裹li标签渲染时会在它外层增加一个span标签,形成行内嵌套块级 因此可用tag指定渲染样式(用法: tag='ul',这样会在li外面加一个ul,原来的ul可省略不写)

路由:
  后端路由:对于普通网站来说所有的超链接都是url地址,所有的url地址都对于服务器上的资源
  前端路由:对于单页面应用程序来说,主要通过hash(即#号)实现不同页面之间的切换 这种由hash改变切换页面的方式叫前端路由
    hash特点:HTTP请求中不会包含hash内容,所以单页面程序内容跳转主要由hash实现

路由器提供了两种机制:路由和转送
  路由:绝定数据包从来源到目的地的路径
  转送:将输入端的数据转移到合适的输出端
路由表:本质为映射表,决定了数据包的指向 (映射表: 内网ip对应电脑mac(物理)地址)

history.go(-1) 去掉#号
设置mode:histoty 也可去掉#号 mode模式默认哈希因此有#号




vue组件中“style”中写“scoped”的目的:scoped代表作用域的意思,即style中的样式只在当前vue文件中有效,否则样式会作用在全局
实现方式:scoped会为当前vue组件文件的根容器增加一个唯一的v-data-something属性标记,再在选择器时加上对应[v-data-something]
缺点:由于只是通过属性限制,类还是原来的类,在其他地方对类设置样式仍可造成污染。
    添加了属性选择器,对于CSS选择器的权重加重了。
    外层组件包裹子组件,会给子组件的根节点添加data属性。在外层组件中无法修改子组件中除了根节点以外的节点的样式

vue引用了第三方组件，需要在组件中局部修改第三方组件的样式，而又不想去除scoped属性造成组件之间的样式污染。此时只能通过“>>>”，穿透scoped。
有些Sass 之类的预处理器无法正确解析“>>>”,可以使用“/deep/”(操作符“>>>”的别名)
用法: 外层 /deep/ 第三方组件 {样式}
例: .wrapper /deep/ .swiper-pagination-bullet-active{
  background: #fff;
}


普通的style标签只支持普通的样式,如果要启用scss(sass)或less,需为其设置“lang='scss'”或“lang='less'”
less/scss属于预处理语言,CSS预处理器为CSS增加一些编程的特性,无需考虑浏览器的兼容性问题。
scss是sass的升级版










src下lib文件夹里放置手动拷贝过来的第三方包
node_modules是用npm装的第三方包




</pre>







